/*HEADER*/

body {
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    -webkit-box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 21px -4px rgba(0,0,0,0.5);
}

.container {
    background-color: #FFF;
    padding: 30px 40px;
}

.logo {
    margin: 30px 0;
}

ul {
    line-height: 0;
    letter-spacing: -1px;
    font-size: 0;
}

header li {
    padding: 14px 25px;
    display: inline-block;
}

li {
    list-style-type: none;
    line-height: normal;
    letter-spacing: normal;
    font-size: 18px;
}

li a {
    text-decoration: none;
    text-align: center;
}

.menu {
    background: -webkit-linear-gradient(top, rgb(94, 94, 94) 0%, rgb(68, 67, 67) 100%);
    background: -o-linear-gradient(top, rgb(94, 94, 94) 0%, rgb(68, 67, 67) 100%);
    background: -ms-linear-gradient(top, rgb(94, 94, 94) 0%, rgb(68, 67, 67) 100%);
    background: -moz-linear-gradient(top, rgb(94, 94, 94) 0%, rgb(68, 67, 67) 100%);
    background: linear-gradient(to bottom, rgb(94, 94, 94) 0%, rgb(68, 67, 67) 100%);
}

header a {
    color: white;
}

/*CONTENT */

.left_menu {
    float: left;
    padding: 30px 20px 30px 0;
    width: 240px;
}

.left_menu a {
    display: block;
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px 25px;
    color: #777;
    font-size: 16px;
}

.content {
    margin-left: 290px;
    padding: 30px 0;
}

article {
    line-height: 1.6em;
    padding: 30px 20px 0;
}

.img-border {
    border: 1px solid rgba(100, 100, 100, 0.3);
}

.bike {
    display: block;
    width: 400px;
    margin: 0 auto;
}

header li.active {
    background: -webkit-linear-gradient(top, rgb(74, 74, 74) 0%, rgb(46, 46, 46) 100%);
    background: -o-linear-gradient(top, rgb(74, 74, 74) 0%, rgb(46, 46, 46) 100%);
    background: -ms-linear-gradient(top, rgb(74, 74, 74) 0%, rgb(46, 46, 46) 100%);
    background: -moz-linear-gradient(top, rgb(74, 74, 74) 0%, rgb(46, 46, 46) 100%);
    background: linear-gradient(to bottom, rgb(74, 74, 74) 0%, rgb(46, 46, 46) 100%);
}

footer li.active {
    text-decoration: underline;
}

.left_menu a.active{
    padding-left: 30px;
    font-weight: 600;
}

/*FOOTER*/

footer {
    clear: both;
    background-color: #CCC;
    height: 50px;
    color: #000;
}

footer li {
    padding: 14px 30px;
    display: inline-block;
    float: left;
}

footer a {
    color: #444;
    font-size: 16px;
}

footer p {
    float: right;
    padding: 17px
}